# Default owner for all directories not owned by others
*                       @googleapis/yoshi-go-admins

/bigtable/              @telpirion @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/cbt       @igorbernstein2 @telpirion @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/emulator  @igorbernstein2 @telpirion @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/bttest        @igorbernstein2 @telpirion @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigquery/              @googleapis/api-bigquery @googleapis/yoshi-go-admins
/datastore/             @telpirion @googleapis/cloud-native-db-dpes @googleapis/yoshi-go-admins
/firestore/             @telpirion @googleapis/cloud-native-db-dpes @googleapis/yoshi-go-admins
/pubsub/                @googleapis/api-pubsub @googleapis/yoshi-go-admins @shollyman
/pubsublite/            @googleapis/api-pubsub @googleapis/yoshi-go-admins @shollyman
/spanner/               @googleapis/api-spanner-go @googleapis/yoshi-go-admins
/storage/               @googleapis/cloud-storage-dpe @googleapis/yoshi-go-admins
/errorreporting/        @googleapis/api-logging @googleapis/yoshi-go-admins
/logging/               @googleapis/api-logging @googleapis/yoshi-go-admins
/profiler/              @googleapis/api-profiler @googleapis/yoshi-go-admins

# individual release versions manifest is unowned (to avoid notifying every team)
.release-please-manifest-individual.json
