[access]
	inheritFrom = Public-Projects
[access "refs/*"]
	owner = group gocloud-approvers
	owner = group gocloud-owners
	forgeCommitter = group Anonymous Users
	label-Code-Review = -2..+2 group gocloud-approvers
	label-Code-Review = -1..+1 group Registered Users
	submit = group gocloud-approvers
	submit = group google/go-cloud@google.com
	labelAs-Code-Review = -2..+2 group gocloud-approvers
	push = +force group gocloud-owners
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	copyMaxScore = true
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[submit]
	action = cherry pick
[notify "codereviews"]
  email = djd@golang.org
[receive]
	requireContributorAgreement = true
