[access]
	inheritFrom = Public-Projects
[access "refs/*"]
	owner = group gocloud-approvers
	owner = group gocloud-owners
	forgeCommitter = group Anonymous Users
	label-Code-Review = -2..+2 group gocloud-approvers
	label-Code-Review = -1..+1 group Registered Users
	submit = group gocloud-approvers
	submit = group google/go-cloud@google.com
	labelAs-Code-Review = -2..+2 group gocloud-approvers
[submit]
	action = rebase if necessary
