# Configuration for the protoveneer tool.
# See ../internal/cmd/protoveneer.

package: genai

protoImportPath: cloud.google.com/go/vertexai/internal/aiplatform/apiv1beta1/aiplatformpb
supportImportPath: cloud.google.com/go/vertexai/internal/support

types:
    HarmCategory:
      protoPrefix: HarmCategory_HARM_CATEGORY_
      docVerb: specifies

    SafetySetting_HarmBlockThreshold:
      name: HarmBlockThreshold
      protoPrefix: SafetySetting_BLOCK_
      veneerPrefix: HarmBlock
      docVerb: specifies
      valueNames:
        SafetySetting_HARM_BLOCK_THRESHOLD_UNSPECIFIED: HarmBlockUnspecified

    SafetyRating_HarmProbability:
      name: HarmProbability
      protoPrefix: SafetyRating_
      docVerb: specifies
      valueNames:
        SafetyRating_HARM_PROBABILITY_UNSPECIFIED: HarmProbabilityUnspecified

    Candidate_FinishReason:
      name: FinishReason
      protoPrefix: Candidate_

    GenerateContentResponse_PromptFeedback_BlockedReason:
      name: BlockedReason
      protoPrefix: GenerateContentResponse_PromptFeedback_

    Type:
      protoPrefix: Type_

    Content:
      fields:
        Parts:
          type: '[]Part'

    Blob:
      fields:
        MimeType:
          name: MIMEType
      docVerb: contains

    FileData:
      fields:
        MimeType:
          name: MIMEType
        FileUri:
          name: FileURI

    FunctionCall:

    FunctionResponse:

    GenerationConfig:
      fields:
        Temperature:
          type: float32
        TopP:
          type: float32
        TopK:
          type: float32
        CandidateCount:
          type: int32
        MaxOutputTokens:
          type: int32

    SafetySetting:

    SafetyRating:
      docVerb: 'is the'

    CitationMetadata:

    Citation:
      docVerb: contains
      fields:
        Uri:
          name: URI

    Candidate:
      fields:
        FinishMessage:
          type: string


    GenerateContentResponse_PromptFeedback:
      name: PromptFeedback
      docVerb: contains

    CountTokensResponse:

    Tool:
      docVerb: contains

    Schema:
      fields:
        Example:
          omit: true


omitTypes:
  - Attribution
  - BigQuery*
  - BlurBaselineConfig
  - Context
  - DataItem
  - Direct*
  - EnvVar
  - Event*
  - Example*
  - Execution*
  - ExplainResponse*
  - Feature*
  - GenerateContentResponse
  - GenerateContentResponse_UsageMetadata
  - MetadataSchema*
  - Neighbor
  - Part
  - Part_*
  - Presets*
  - Sampled*
  - SmoothGrad*
  - Tensor*
  - Unimplemented*
  - Value*
  - VideoMetadata
  - '*Annotation*'
  - '*Array'
  - '*Attribution'
  - '*Destination'
  - '*Explanation*'
  - '*Operation*'
  - '*Predict*'
  - '*Request'
  - '*Source'


converters:
  Part: partToProto, partFromProto
