# Configuration for the protoveneer tool.
# See ../internal/cmd/protoveneer.

package: genai

protoImportPath: cloud.google.com/go/aiplatform/apiv1beta1/aiplatformpb
supportImportPath: cloud.google.com/go/vertexai/internal/support

types:
    HarmCategory:
      protoPrefix: HarmCategory_HARM_CATEGORY_
      docVerb: specifies

    SafetySetting_HarmBlockThreshold:
      name: HarmBlockThreshold
      protoPrefix: SafetySetting_BLOCK_
      veneerPrefix: HarmBlock
      docVerb: specifies
      valueNames:
        SafetySetting_HARM_BLOCK_THRESHOLD_UNSPECIFIED: HarmBlockUnspecified

    SafetyRating_HarmProbability:
      name: HarmProbability
      protoPrefix: SafetyRating_
      docVerb: specifies
      valueNames:
        SafetyRating_HARM_PROBABILITY_UNSPECIFIED: HarmProbabilityUnspecified

    Candidate_FinishReason:
      name: FinishReason
      protoPrefix: Candidate_

    GenerateContentResponse_PromptFeedback_BlockedReason:
      name: BlockedReason
      protoPrefix: GenerateContentResponse_PromptFeedback_

    Type:
      protoPrefix: Type_

    Content:
      fields:
        Parts:
          type: '[]Part'

    Blob:
      fields:
        MimeType:
          name: MIMEType
      docVerb: contains

    FileData:
      fields:
        MimeType:
          name: MIMEType
        FileUri:
          name: FileURI

    FunctionCall:

    FunctionResponse:

    GenerationConfig:
      fields:
        Temperature:
          type: float32
        TopP:
          type: float32
        TopK:
          type: float32
        CandidateCount:
          type: int32
        MaxOutputTokens:
          type: int32

    SafetyRating:
      docVerb: 'is the'

    Citation:
      docVerb: contains
      fields:
        Uri:
          name: URI

    Candidate:
      fields:
        FinishMessage:
          type: string


    GenerateContentResponse_PromptFeedback:
      name: PromptFeedback
      docVerb: contains

    CountTokensResponse:

    Tool:
      docVerb: contains

    Schema:
      fields:
        Example:
          omit: true

    CitationMetadata:
    FunctionDeclaration:
    SafetySetting:

# Omit everything that is not explicitly configured.
omitTypes:
  - '*'


converters:
  Part: partToProto, partFromProto
