# Configuration for the protoveneer tool.

package: genai

protoImportPath: cloud.google.com/go/aiplatform/apiv1beta1/aiplatformpb

types:
    HarmCategory:
      protoPrefix: HarmCategory_HARM_CATEGORY_
      docVerb: specifies

    SafetySetting_HarmBlockThreshold:
      name: HarmBlockThreshold
      protoPrefix: SafetySetting_BLOCK_
      veneerPrefix: HarmBlock
      docVerb: specifies
      valueNames:
        SafetySetting_HARM_BLOCK_THRESHOLD_UNSPECIFIED: HarmBlockUnspecified

    SafetySetting_HarmBlockMethod:
      name: HarmBlockMethod
      protoPrefix: SafetySetting_
      veneerPrefix: HarmBlockMethod
      doc: 'determines how harm blocking is done.'

    SafetyRating_HarmProbability:
      name: HarmProbability
      protoPrefix: SafetyRating_
      docVerb: specifies
      valueNames:
        SafetyRating_HARM_PROBABILITY_UNSPECIFIED: HarmProbabilityUnspecified

    SafetyRating_HarmSeverity:
      name: HarmSeverity
      protoPrefix: SafetyRating_
      docVerb: specifies

    Candidate_FinishReason:
      name: FinishReason
      protoPrefix: Candidate_

    GenerateContentResponse_PromptFeedback_BlockedReason:
      name: BlockedReason
      protoPrefix: GenerateContentResponse_PromptFeedback_

    Type:
      protoPrefix: Type_

    Content:
      fields:
        Parts:
          type: '[]Part'

    Blob:
      fields:
        MimeType:
          name: MIMEType
      doc: 'contains binary data like images. Use [Text] for text.'
      removeOtherDoc: true

    FileData:
      fields:
        MimeType:
          name: MIMEType
        FileUri:
          name: FileURI

    FunctionCall:

    FunctionResponse:

    FunctionCallingConfig:
      doc: 'holds configuration for function calling.'

    FunctionCallingConfig_Mode:
      name: FunctionCallingMode
      protoPrefix: FunctionCallingConfig
      veneerPrefix: FunctionCalling
      valueNames:
        FunctionCallingConfig_MODE_UNSPECIFIED: FunctionCallingUnspecified

    GenerationConfig:
      fields:
        TopK:
          type: '*int32'
          convertToFrom: int32pToFloat32p, float32pToInt32p
        ResponseMimeType:
          name: ResponseMIMEType

    SafetyRating:
      docVerb: 'is the'

    Citation:
      docVerb: contains
      fields:
        Uri:
          name: URI

    Candidate:
      fields:
        FinishMessage:
          type: string
        GroundingMetadata:
          omit: true

    GenerateContentResponse:
      doc: 'is the response from a GenerateContent or GenerateContentStream call.'

    GenerateContentResponse_PromptFeedback:
      name: PromptFeedback
      docVerb: contains

    GenerateContentResponse_UsageMetadata:
      name: UsageMetadata

    CountTokensResponse:

    Tool:
      docVerb: contains
      fields:
        Retrieval:
          omit: true
        GoogleSearchRetrieval:
          omit: true

    ToolConfig:
      doc: 'configures tools.'
 
    Schema:
      fields:
        Example:
          omit: true
        Default:
          # TODO(jba): protoveneer should treat a *structpb.Value as an any
          omit: true

    CitationMetadata:
    FunctionDeclaration:
    SafetySetting:

    CachedContent:
      populateToFrom: populateCachedContentTo, populateCachedContentFrom
      fields:
        Expiration:
          type: ExpireTimeOrTTL
          noConvert: true

# Omit everything that is not explicitly configured.
omitTypes:
  - '*'


converters:
  Part: partToProto, partFromProto
